.noteContainer {
  position: relative;
  width: 100%;
  min-height: 25rem;
  height: fit-content;
  border: 1px solid rgb(2, 186, 186, 0.5);
  border-radius: 1rem;
}

.noteContainer h1 {
  margin: 1rem;
  max-width: 80%;
}

.noteContainer p {
  margin: 1rem;
  font-size: 1.6rem;
  white-space: pre-line;
  max-width: 80%;
}

.noteButtonsContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.dateContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.categoryContainer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
  color: #888;
}

.dateContainer p {
  font-size: 1.2rem;
  margin: 0;
  color: #888;
}

.noteContainer:hover .icon {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.icon {
  width: 2rem;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #888;
}

.icon:hover {
  color: #444;
}

.text {
  white-space: pre-line;
}

@media (max-width: 50em) {
  .icon {
    opacity: 1;
    pointer-events: auto;
    width: 2.6rem;
  }
}
