.appNameContainer {
  width: 40rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 4rem;
  font-weight: 600;
  border-radius: 43px;
  background: #e0e0e0;
  box-shadow: 50px 50px 100px #c5c5c5, -50px -50px 100px #fbfbfb;
  letter-spacing: 1.4px;
  padding: 2rem 2rem;
}

.superText {
  display: inline-block;
  color: #444;
  transform: rotate(-10deg) translateY(-0.5rem);
  font-family: 'Pacifico';
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 20px rgb(2, 186, 186, 0.5), 0 0 40px rgb(2, 186, 186, 0.5),
    0 0 45px rgb(2, 186, 186, 0.5), 0 0 50px rgb(2, 186, 186, 0.5),
    0 0 75px rgb(2, 186, 186, 0.5);
}
