.shareFormContainer {
  margin: 1rem;
}

.newNoteForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newNoteForm div {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.newNoteForm div input {
  width: 70%;
  background-color: transparent;
  border: 1px solid rgb(2, 186, 186);
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  color: #555;
}

.newNoteForm div label {
  font-size: 1.3rem;
}

.editButtonsContainer {
  margin-top: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton {
  width: 20rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(2, 186, 186, 0.5);
  border-radius: 2rem;
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

.cancelButton {
  width: 20rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 2rem;
  background-color: rgba(255, 0, 0, 0.25) !important;
  border: 1px solid rgba(255, 0, 0) !important;
  transition: all 0.3s;
}

.cancelButton:hover {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.errorText {
  margin-top: 1rem;
  color: rgba(255, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 31.25em) {
  .newNoteForm div {
    flex-direction: column;
  }
}
